# OpenLane run products
openlane/**/runs/
openlane/**/tmp/
openlane/**/logs/
openlane/**/reports/
openlane/**/results/

# Python/tool caches
__pycache__/
*.pyc
.DS_Store

# Simulation run products
*.dat
*.raw
*.log
pdk/tft3d_platform/libs.ref/tft3d_macros/sim/NG_spice_macros/montecarlo/
